h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2, h3, h4, h5 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    background-position: center;
    background-size: 100% auto;
    min-width: 100%;
    font-size: 18px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #d8dbe6;
    height: 100%;
}
footer {
    padding-bottom: 30px;
    background-color: #171822;
    color: #b2bcd9;
    flex-shrink: 0;
}
section {
    margin: 0;
    display: block;
    flex: 1 0 auto;
    background-position: center;
    align-items: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.footer-image {
    width: 32px;
    float: left;
    padding: 5px;
}
.footer-section {
    display: block;
    align-items: center;
}